.header {
    
    .title-container {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-left: 32px;

        img {
            padding-right: 16px;
            max-height: 36px;
            fill: white;
        }

        span {
            font-weight: 400;
            font-size: 24px;
        }
    }
}

::ng-deep .profileMenu {
    max-width: none !important;
    background-color: white;
}