.header {

    .menu-button {
        margin-right: 16px;
    }
    
    .title-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            padding-right: 16px;
            max-height: 40px;
            fill: white;
        }

        span {
            font-size: 20px;
        }
    }
}