.header {
    
    .title-container {
        display: flex;
        align-items: center;
        cursor: pointer;

        img {
            padding-right: 16px;
            max-height: 40px;
        }

        span {
            font-size: 20px;
        }
    }
}