.root-container {

    display: flex;
    width: 100%;
    height: calc(100vh - 96px);

    .left-container {
        flex-grow: 1;
        margin: 16px;
        overflow: auto;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .center-container {
        margin: 16px 16px 16px 16px;
        height: calc(100vh - 96px);

        
        p {
            background-color: var(--02-dp);
        }
    }

    .right-container {
        margin: 16px;
        flex-grow: 1;
        overflow: auto;
        
        &::-webkit-scrollbar {
            display: none;
        }
        
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    mat-card {
       margin-bottom: 16px;
    }


}

mat-card-title-group {
    align-items: center;
}