<!-- Applying the mat-tyography class adds styles for native elements. -->

<div class="root-container">
  <div class="left-container">
    <mat-card class="patient-data-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Patient Data</mat-card-title>
          <mat-icon color="primary">person</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
    <mat-card class="dicom-files-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>DICOM Files</mat-card-title>
          <mat-icon color="primary">description</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="center-container">
    <mat-card>
      <mat-card-content>
        <app-dwv></app-dwv>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right-container">
    <mat-card class="patient-data-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>AI Models</mat-card-title>
          <mat-icon color="primary">memory</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <app-ai-models></app-ai-models>
      </mat-card-content>
    </mat-card>
    <mat-card class="dicom-files-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>Tabular AI</mat-card-title>
          <mat-icon color="primary">memory</mat-icon>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <app-tabular-ai></app-tabular-ai>
      </mat-card-content>
    </mat-card>
  </div>
</div>