.root-container {

    display: flex;
    width: 100%;

    > * {
        margin: 16px;
        
    }

    .left-container {
        flex-grow: 1;

    }
    .center-container {
        flex-grow: 4;
        max-width: calc(100vh - 160px); 

        
        p {
            background-color: var(--02-dp);
        }
    }

    .right-container {
        flex-grow: 1;
    }

    mat-card {
       margin-bottom: 16px;
    }


}

mat-card-title-group {
    align-items: center;
}