.root-container {

    display: flex;
    width: 100%;

    > * {
        margin: 16px;
        
    }

    .left-container {
        flex-grow: 2;

    }
    .center-container {
        flex-grow: 7;
        
        p {
            background-color: var(--02-dp);
        }
    }
    .right-container {
        flex-grow: 2;
    }

    .patient-data-card {
       height: 400px;
       margin-bottom: 16px;
    }

    .dicom-files-card {
        height: 400px;
     }
}