@use '@angular/material' as mat;
@import 'src/styles/theme';

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

#dwv {
  height: calc(100vh - 80px); 
}

a {
  color: mat.get-color-from-palette($accent);
}
a:hover {
  color: mat.get-color-from-palette($primary);
}

mat-spinner {
  margin: 40px auto;
}

.predict-button-container {
  display: flex;
  justify-content: start;
}

#viewer-spinner {
  position: absolute;
  top: 30%;
  left: calc(50% - 35px);
}

.button-row {
  margin-bottom: 16px;
  margin-left: 1px;
}

.nav-list {
  padding: 20px 10px 0 10px!important;
}

#dwv .mat-button-toggle-group {
  align-items: center;
  margin-right: 8px;
}
#dwv .mat-button-toggle-checked {
  color: mat.get-color-from-palette($primary);
}

.legend {
  text-align: center;
  font-size: 8pt;
  margin: 1em;
}

/* Layers */
.layerGroup {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  height: 90%;
  width: 100%;
}
.layer {
  position: absolute;
  pointer-events: none;
}

.model-heading {
  margin-left: 0;
  text-align: center;
  font-weight: 500;
}



/* drag&drop */
.dropBox {
  margin: auto;
  text-align: center; vertical-align: middle;
  width: 50%; height: 75%; }
.dropBoxBorder {
  border: 5px dashed mat.get-color-from-palette($primary, lighter); }
.dropBoxBorder.hover {
  border: 5px dashed mat.get-color-from-palette($primary); }
