


footer {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  justify-content: flex-end;
  font-size: 14px;
}

.main {
  margin: 32px;
  max-width: 500px;
}

form {
  margin-top: 32px;

  
}

label {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

mat-form-field {
  width: 100%;
  
  
}

input[type="checkbox"] {
  margin-top: 1.5rem;
}

input[type="text"]:focus, input[type="number"]:focus {
  color: white; /* text color when input is focused */
}


input[type="text"]:required:invalid {
  color: red; /* text color when input is required but empty */
}
input[type="text"] ,input[type="number"] ,input{
  color: white !important; /* default text color */
}



.button-wrapper {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  button {
    padding-left: 48px;
    padding-right: 48px;
  }
}


.file-input-wrapper {
  display: flex;
  justify-content: center;
}


