mat-expansion-panel {
    margin: 12px;
    background-color: var(--bg-elevation-2) !important;
    border-radius: 5px !important;

    mat-expansion-panel-header {
        
    }

    ::ng-deep {
        .mat-expansion-panel-body {
            padding: 0 12px 12px;
        }

        .mdc-list-item--with-leading-icon.mdc-list-item--with-two-lines .mdc-list-item__primary-text::before {
            height: 26px;
        }
    }

    .case-button {
        display: flex;
        border-radius: 5px;
        padding: 0 12px;
        height: 60px !important; 

        mat-icon {
            margin: 16px 16px auto 0;
        }
    }
    
}


.menu-button {
    display: flex;
}