


footer {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    justify-content: flex-end;
    font-size: 14px;
  }
  
  main {
    
    
  }
  
  form {
   
    margin: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;
   
   
  }
  
  label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  
  
  
  input[type="checkbox"] {
    /*padding: 0.5rem; */
    border-radius: 0.25rem;
    border: none;
    margin-bottom: 0.12;
    font-size: 1.2rem;
    border: 1px solid white;
    grid-row: span 2;
  }
  
  mat-form-field {
    width: 100%;
   
    
  }
  input[type="checkbox"] {
    margin-top: 1.5rem;
  }
  
  input[type="text"]:focus, input[type="number"]:focus {
    color: white; /* text color when input is focused */
  }
  
  
  input[type="text"]:required:invalid {
    color: red; /* text color when input is required but empty */
  }
  input[type="text"] ,input[type="number"] ,input{
    color: white !important; /* default text color */
  }
  
  
  

  #patientForm {
    grid-column: 1/3;
  }
  
  